body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F2F2;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-box {
    background-color: #FFFFFF;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    margin-top: 15px;
    background-color: #11538C;
    color: #F2F2F2;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
    color: #11538C;
    margin-top: 10px;
    display: block;
}

a:hover {
    text-decoration: underline;
}
